<!DOCTYPE html>
<html>
  <head>
    <title>controller</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='javascripts/libs/jquery-1.11.0.js'></script>
    <script type='text/javascript' src='javascripts/controller-app.js'></script>
  </head>
  <body id="controller">
    <h1>controller</h1>

    <div id="user_status">Currently playing with <span id="cur_user"><%= cur_user %></span></div>
    <div id="time_status">Time remaining: <span id="cur_time"><%= Math.round(remaining/1000) %></span></div>

    <div>
    <input id="user" name="user" /> 
    <span id='queue_user' class='button'>queue user</span>
	</div>

	<div>
    <ul>
    <% for (var i=0; i<users.length; i++) { %>
      <li><span id='<%= users[i] %>' class='button trigger'><%= users[i] %></span></li>
    <% } %>
    </ul>
  </div>


  </body>
</html>