<!DOCTYPE html>
<html>
  <head>
    <title>controller</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='javascripts/libs/jquery-1.11.0.js'></script>
    <script type='text/javascript' src='javascripts/controller-app.js'></script>
  </head>
  <body id="controller">
    <h1>controller</h1>

    <div>
    <input id="user" name="user" /><br>
    <span id='set_user' class='button'>set user</span>
	</div>

	<div>
    <span id='trigger' class='button'>start</span>
    </div>


  </body>
</html>