<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/animate.min.css' />
    <script data-main="javascripts/main" src="javascripts/libs/require.min.js"></script>

  </head>
  <body>
    <div id='test'></div>
  </body>
</html>