<!DOCTYPE html>
<html>
  <head>
    <title><%= id %></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <link rel='stylesheet' href='../stylesheets/animate.min.css' />

    <script type='text/javascript' src='/socket.io/socket.io.js'></script>
    <script type='text/javascript' src='../javascripts/libs/jquery-1.11.0.js'></script>
    <script type='text/javascript' src='../javascripts/libs/lettering.js'></script>
    <script type='text/javascript' src='../javascripts/libs/textillate.js'></script>
    <!--<script type='text/javascript' src='../javascripts/libs/three.js'></script>-->

    <script type='text/javascript' src='../javascripts/modes/welcomeMode.js'></script>
    <script type='text/javascript' src='../javascripts/modes/imageMode.js'></script>
    <script type='text/javascript' src='../javascripts/modes/tweetMode.js'></script>
    <script type='text/javascript' src='../javascripts/manager.js'></script>
    <script type='text/javascript' src='../javascripts/main.js'></script>
  </head>
  <body>
    <div id='test'>
        <span style="font-size: 480px;">
        <script type="text/javascript">
        var screenId = window.location.pathname.split("/")[2];
        document.write(screenId);
        function animate() {
            requestAnimationFrame(animate);
            render();
        }
        function render() {
            var bg = (1000. * Math.abs(Math.sin(ServerTime.now() / 1000.)) + (screenId + 1) * 10) % 255;
            $("body").css({ opacity: bg / 255. });
        }
        animate(0);
        </script>
    </span>
    </div>
    <div id='container'></div>
  </body>
</html>
