<!DOCTYPE html>
<html>
  <head>
    <title>storage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='javascripts/libs/jquery-1.11.0.js'></script>
    <script type='text/javascript' src='javascripts/controller-app.js'></script>
  </head>
  <body id="controller">
    <h1>storage</h1>
    <% for (var i=0; i<entries.length; i++) { %>
      <span><%= entries[i].user %></span> ~ <span><%= entries[i].text %></span>
    <% } %>
  </body>
</html>