body {
  background: black;
  font: 25px sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}

#controller {
  margin: 30px;
}

#controller div {
  margin-bottom: 30px;
}

.button {
  background: #FF6E43;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.button, #user {
  margin: 0 10px 10px 0;
  padding: 10px;
}

.trigger {
  min-width: 300px;
}

.button:hover, .button.selected {
  background: white;
  color: #FF6E43;
  outline: 2px solid #FF6E43;
}


input {
  font: 25px sans-serif;
  color:black;
  border:0 !important;
  display: inline-block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
