body {
  background: black;
  font: 25px 'AppleSDGothicNeo-Thin', sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}

#controller {
  margin: 30px;
}

#controller div {
  margin-bottom: 30px;
}

.button {
  border: 1px dotted white;
  color: black;
  background: white;
  display: inline-block;
  cursor: pointer;
}

.button, #user {
  margin: 0 15px 15px 0;
  padding: 12px 9px 9px 9px;
}

.trigger {
  width: 300px;
}

.button:hover, .button.selected, #queue_user, .button.remove {
  background: rgb(41, 41, 41);
  color: white;
}

.button.remove {
  padding: 12px 15px 9px 15px;
}

input {
  font: 25px sans-serif;
  color:black;
  border:0 !important;
  display: inline-block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  width: 300px;
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
