body {
  background: black;
  font: 25px 'AppleSDGothicNeo-Thin', sans-serif;
  color: white;
  padding: 0;
  margin: 75px 0;
  text-align: center;
}


#controller {
  margin: 30px auto;
  width: 422px;
}

#controller div {
  margin-bottom: 30px;
}

#time_status, #user_status {
  height: 30px;
}

.button {
  border: 1px dotted white;
  color: black;
  background: white;
  display: inline-block;
  cursor: pointer;
}

.button{
  margin: 0 15px 15px 0;
  padding: 12px 9px 9px 9px;
  float: left;
  text-align: left;
}

#user{
  margin: 0 15px 15px 0;
  padding: 13px 9px 10px 9px;
}

.trigger, input {
  width: 300px !important;
  padding-left: 20px !important;
}

.button:hover, .button.selected, #queue_user, .button.remove {
  background: rgb(41, 41, 41);
  color: white;
}

.button.remove {
  padding: 12px 15px 9px 15px;
}

input {
  font: 25px 'AppleSDGothicNeo-Thin', sans-serif;
  color:black;
  background: rgb(122, 122, 122);
  border:0 !important;
  display: inline-block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  margin: 0;
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.highlight {
  color: red;
}