@import url(http://fonts.googleapis.com/css?family=Lato|Arvo|Playfair+Display|BenchNine|Lora|Bitter|Kreon|Crete+Round|Droid+Serif|Oswald:300|Open+Sans+Condensed:300|Montserrat|Raleway|Roboto+Slab|Inconsolata|Signika|Old+Standard+TT);

body {
  background-color: black;
  font-family: sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}

body, html {
  /*width: 1920px; height: 1080px;*/
  width: 100%; height: 100%;
}

/* debug */

.debug {
  font: 12px sans-serif;
}

.debug#info {
  font: 80px sans-serif;
}

.debug#screenId {
  font-size: 600px;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  width: 100%;
  text-align: center;
}

.debug img {
  height: 120px;
}

/* centeredText */

.centeredText {
  position:absolute;
  top:0; bottom:0; left:0; right:0;
  margin:auto;
  text-align: center;
  height: 240px;
}

#centeredWord {
  font-size:240px;
  border: 1px solid white;
  display: inline-block;
}

/* enter / exit */

.fullscreen {
  width:100%;
  height:100%;
}

.whitebg {
  background-color: white;
}

.blackbg {
  background-color: black;
}