body {
  background-color: black;
  font-family: 'Oswald-Light', sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}

body, html {
  /*width: 1920px; height: 1080px;*/
  width: 100%; height: 100%;
}

/* transforms */
.flip180 {
  -webkit-transform: rotate(180deg);
}

.mirrorX {
  -webkit-transform: scale(-1, 1);
}

/* debug */

.debug {
  font: 12px sans-serif;
}

.debug#profile {
  height: 120px;
  float: left;
  margin: 4px;
}

.debug .tweet {
  display: inline-block;
  padding: 2px;
  background-color: #ddd;
  color: black;
  margin: 4px 4px;
}

.debug#info {
  font: 80px sans-serif;
}

.debug#screenId {
  font-family: 'Oswald-Light';
  font-size: 600px;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.debug img {
  height: 120px;
  margin: 4px;
}

/* centeredText */

.centered {
  position: absolute;
  left: 0; top: 0;
  display: table;
  height: 100%;
  width: 100%;
}

.centered .middle {
  display: table-cell;
  vertical-align: middle;
}

.centered .inner {
  margin-left: auto;
  margin-right: auto; 
  text-align: center;
  width: 90%;
}

.centered .text {
  color: black;
  background-color: white;
}

.text#name {
  font-size: 260px;
}
.text#username {
  font-size: 150px;
  color: gray;
  clear: both;
}
.text#word {
  font-size:300px;
}
.text#tweet {
  font-size:120px;
}

/* allImages */

.allImages#container {

}
.allImages .wrapper {
  margin:0;
  padding:0;
  overflow: hidden;
  float: left;
  clear: none;
}
.allImages .largest {
  width: 480px;
  height: 480px;
}
.allImages .smaller {
  width: 50%;
  height: 50%;
}

/* enter / exit */

.fullscreen {
  width:100%;
  height:100%;
}

.whitebg {
  background-color: white;
}

.blackbg {
  background-color: black;
}

/* exit screen */


#handle {
  font-size:160px;
}

#subtitle {
  margin-top: 60px;
  font-size:60px;
}

#handle .username {
  color: gray !important;
}