body {
  background: black;
  font: 50px sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}

.debug {
  font: 12px sans-serif;
}

.debug#info {
  font: 80px sans-serif;
}

.debug img {
  height: 120px;
}
