body {
  background: black;
  font: 50px Helvetica, Arial, sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}

img, object {
  width: 100%;
  position: absolute;
}

#screenId {
  font: 480px Helvetica, Arial, sans-serif;
  width: 100%;
  opacity: .25;
  position: absolute;
  text-align: center;
}

#test {
  font: 300px Helvetica, Arial, sans-serif;
  width: 100%;
  position: absolute;
  text-align: center;
}

.tweet {
  position: absolute;
  z-index: 1;
  color: #FF6E43;
  padding: 50px;
  width: 100%;
  font: 100px Helvetica, Arial, sans-serif;
}

/*** CONTROLLER STUFF ***/
#controller {
  margin: 30px;
}

#controller div {
  margin-bottom: 30px;
}

.button {
  background: #FF6E43;
  color: white;
  margin: 0 10px 10px 0;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}

.button:hover, .button.selected {
  background: white;
  color: #FF6E43;
  outline: 2px solid #FF6E43;
  padding: 9px;
  margin-bottom:12px;
}


input {
  font: 25px Helvetica, Arial, sans-serif;
  padding:0;
  margin: 10px 0;
  color:black;
  border:0 !important;
  display: inline-block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
